:root {
--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);

--Grey-500: hsl(234, 12%, 34%);
--Grey-400: hsl(212, 6%, 44%);
--White: hsl(0, 0%, 100%);

--font-family-default: "Poppins", sans-serif;
--fw-light: 200;
--fw-regular: 400;
--fw-bold: 600;
}

/* Simple CSS reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img, svg {
    display: block;
    max-width: 100%;
}

body {
    background-color: var(--White);
    font-family: var(--font-family-default);  

    display: grid;
    place-items: center;
    min-height: 100vh;
}

.four-card-feature-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2.5rem;
    gap: 1rem;
}

h1 {
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
    color: var(--Grey-500);
}

h1 span {
    font-weight: var(--fw-light);
    color: var(--Grey-400);
}

p {
    color: var(--Grey-400);
    font-weight: var(--fw-regular);
    font-size: 15px;
}

.feature-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 8px 20px var(--Grey-400);
    padding: 2rem 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.feature-card h2 {
    font-size: 1rem;
    font-weight: var(--fw-bold);
}

.feature-card p {
    color: var(--Grey-400);
    font-weight: var(--fw-regular);
}

.feature-card picture {
    display: flex;
    justify-content: flex-end;
}

.feature-card img {
    margin: 2rem 0 0.5rem 0;
    height: 50px;
    width: 50px;
}

.border-cyan {
    border-top: 4px solid var(--Cyan);
}

.border-red {
    border-top: 4px solid var(--Red);
}

.border-orange {
    border-top: 4px solid var(--Orange);
}

.border-blue {
    border-top: 4px solid var(--Blue);
}

@media (min-width: 400px) {
    .feature-card-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        gap: 2rem;
    }

    .feature-card {
        width: 100%;
        display: grid;
        padding-inline: 2rem;
        max-width: 350px;
    }

    .border-cyan {
        grid-column: 1/2;
        grid-row: 2/4;
    }

    .border-red {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .border-orange {
        grid-column: 2/3;
        grid-row: 3/5;
    }

    .border-blue {
        grid-column: 3/4;
        grid-row: 2/4;
    }   
}